/* ABOUT US CSS */
.about-us {
  padding: 20px;
  text-align: center;
}
.about-header-heading{
font-size: 40px;
  color: #d82759;
  font-weight: bold;
}
.about-header h1 {
  font-size: 50px;
  color: #d82759;
  font-weight: bold;
}

.about-header p {
  font-size: 23px;
  color: #333;
  font-weight: bold;
  margin-top: 10px;
}

/* Mission section styling */
.our-mission {
  padding: 30px 0;
  background-color:  #ccc;
}

.mission-heading {
  font-size: 35px;
  background-color: #d82759;
  color: #333;
  text-align: center;
}

.mission {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.our-mission .col-md-3 {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
}


.mission-title {
  font-size: 23px;
  color: #333;
  margin-bottom: 10px;
}

.mission-description {
  font-size: 20px;
  color: #666;
  padding: 0 10px;
  text-align: center;
}


/* OUR VISION CSS*/
.our-vision {
background-color: #ccc;
}

.vision-description {
font-size: 20px;
color: #666;
padding: 0 10px;
text-align: center;
}

/* OUR TEAM CSS */
.our-vision {
background-color: #ccc;
}

.our-vision-heading {
background-color: #d82759;
font-size: 35px;
color: #333;
text-align: center;
}

.vision-title {
font-size: 23px;
color: #333;
margin-bottom: 10px;
}

.vision-description {
font-size: 20px;
color: #666;
padding: 0 10px;
text-align: center;
}

/* TEAM MEMBER CSS*/
.our-team {
background-color: #ccc;
}

.our-team-heading {
font-size: 35px;
color: #333;
background-color: #d82759;
text-align: center;
}

.our-team-title {
font-size: 23px;
color: #333;
margin-bottom: 15px;
}

.our-team-description {
font-size: 20px;
color: #666;
padding: 0 10px;
text-align: center;
}



