.navbar {
    background-color: #ccc; 
    padding: 10px 20px; 
}

.navbar-nav .nav-link {
    color: #e21855 ; 
    font-weight: 600; 
    font-size: 25px; 
    margin-right: 45px; 
    transition: color 0.3s ease; 
}

.navbar-nav .nav-link:hover {
    color: #e7074a ;
    font-weight: bold;
    
}

.nav-logo img {
    border-radius: 50%; 
    transition: transform 0.3s ease; 
    margin-left: -20px;
}

.nav-logo img:hover {
    transform: scale(1.1); 
}

.nav-item img {
    border: 2px solid white; 
    transition: border 0.3s ease;
}

.nav-item img:hover {
    border: 2px solid #fc044e; 
}

.navbar-toggler{
    border: 2px solid white;
    background-color: black;
}