*{
  margin: 0;
  padding: 0;
  /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRi_UT_xf5WGLRDi62hUZdsdITo_0eLRkNv-MuWaFVSJl-IjkAW4FjOjHpu-QrBLrzg_dI&usqp=CAU'); */
  /* background-color: #CF5176; */
  
}
 /* body{
  border: 14px solid white
 } */